body {
  background-color: #621610;
}

h1  {
  color: white;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

#newGame {
  text-align: center;
  margin-right: 30px;
  width: 75px;
  line-height: 20px;
  margin: 0px 0px 4px 95px;
}

#gameBoard {
  background-color: rgba(25, 129, 29, 1);
  height: 575px;
  width: 1100px;
  margin: auto;
  border: 8px solid #E39B24;
  border-radius: 25px;
}

.participant {
  color: #00FFFF;
  text-align: center;
  text-decoration: underline;
}

#player {
  position: relative;
  top: 250px;
}

.buttonPlayer {
  position: relative;
  top: 145px;
  left: 320px;
  text-align: center;
  margin-right: 15px;
  width: 50px;
  line-height: 20px;
}

.buttonBet {
  position: relative;
  top: 0px;
  left: 1px;
  text-align: center;
  margin-right: 4px;
  width: 60px;
  line-height: 20px;
}

.dealerCards {
  height: 110px;
  width: 80px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  top: 0px;
  left: 465px;
  display: inline-block;
}

.playerCards {
  height: 110px;
  width: 80px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  top: 75px;
  left: 465px;
  display: inline-block;
}

#bank {
  height: 130px;
  width: 215px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: -45px;
  left: 115px;
}

#money {

}

img {
  height: 200px;
  width: 250px;
  border-radius: 10px;
}

#cardsImg {
  position: relative;
  top: -505px;
}

#chipsImg {
  position: relative;
  top: -130px;
  left: 596px;
}
