body {
  background-color: #621610;
}

h1  {
  color: white;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

img {
  height: 200px;
  width: 250px;
  border-radius: 10px;
}

#newGame {
  text-align: center;
  margin-right: 30px;
  width: 75px;
  line-height: 20px;
  margin: 0px 0px 4px 95px;
}

#gameBoard {
  background-color: rgba(25, 129, 29, 1);
  height: 575px;
  width: 1100px;
  margin: auto;
  border: 8px solid #E39B24;
  border-radius: 25px;
}

.participant {
  color: #00FFFF;
  text-align: center;
  text-decoration: underline;
}

#cardsImg {
  position: relative;
  top: 0px;
}

.dealerArea {
  height: 210px;
  width: 440px;
  text-align: center;
  position: relative;
  top: -205px;
  left: 335px;
}

#dealer {
  position: relative;
  top: 10px;
  right: 140px;
}

.dealerCards {
  height: 110px;
  width: 80px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  float: left;
}

#bank {
  height: 150px;
  width: 215px;
  background-color: wheat;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: -35px;
  left: 40px;
}

/* Below selector is a placeholder in case I want to style my p tag */
#money {
  font-size: 110%;
}

.buttonBet {
  position: relative;
  top: -5px;
  left: 2px;
  text-align: center;
  margin-right: 4px;
  width: 50px;
  line-height: 20px;
  color: white;
  border: 3px dotted white;
  border-radius: 24px;
  font-weight: bold;
}

#bet25 {
  background-color: green;
}

#bet50 {
  background-color: blue;
}

#bet100 {
  background-color: black;
}

.playerArea {
  height: 210px;
  width: 440px;
  text-align: center;
  position: relative;
  top: -245px;
  left: 335px;
}

#player {
  position: relative;
  top: 10px;
  right: 140px;
}

.playerCards {
  height: 110px;
  width: 80px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  float: left;
}

.buttonArea {
  height: 25px;
  width: 135px;
  position: relative;
  top: -275px;
  left: 360px;
}

.buttonPlayer {
  position: relative;
  text-align: center;
  margin-right: 15px;
  width: 50px;
  line-height: 20px;
  font-weight: bold;
  background-color: red;
  color: white;
  border-color: white;
}

#chipsImg {
  position: relative;
  top: -466px;
  left: 850px;
}

.hidden {
  display: none;
}
